body, h1{
	font-family: 'Iceland', cursive;
	color:#ABD17D;
}

#wrapper{
	width:81%;
	height:80%;
	margin:5% auto;
	float:none;
	border-radius:0.3em;
}

#head{
	border:solid 1px #ABD17D;
	border-radius:0.3em;
	text-align:center;
	padding:25px;
	background:#111;
}

button:hover{
	background:#ABD17D;
	color:#000000;
}

.left-right-padding{
	margin-left:4%;
}

button{
	background:inherit;
	background:#111;
	color:#ABD17D;
	font-family: 'Iceland', cursive;
	cursor:pointer;
	
	margin-top:5%;
	width:21.8%;
	height:20%;
	border:solid #ABD17D 1px;
	text-align:center;
	padding-top:3%;
	padding-bottom:3%;
	float:left;
	border-radius:1em;
	font-size:larger;
}

button:focus {outline:0;}

/*--Nav Start---*/
#wrapper > #primary_nav_wrap{
	margin: 0px auto;
	width:38%;
}

#primary_nav_wrap
{
	margin:15px;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	background:#111;
	border-top:solid 1px #ABD17D;
	border-bottom:solid 1px #ABD17D;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#ABD17D;
	text-decoration:none;
	font-weight:700;
	font-size:17px;
	line-height:42px;
	padding:0 15px;
	font-family: 'Iceland', cursive;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#111;
}

#primary_nav_wrap ul li:hover, ul a:hover 
{
	background:#ABD17D;
	color:#111;
}

#primary_nav_wrap ul li a:hover{
	color:#111;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#111;
	padding:0;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:auto;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

/*---content-----*/
#content{
	width:38%;
	margin:3% auto;
}

#s_selected{
	color:green;
}

#s_notselected{
	color:red;
}
